<h1>Mad Libs!</h1>

<form action="/process_mad_libs">
  <label for="noun1">Noun</label>
   <input id="noun1" name="noun1" type="text"> <br>
  
   <label for="verb1">Verb</label>
   <input id="verb1" name="verb1" type="text"> <br>
  
   <label for="adjective1">Adjective</label>
   <input id="adjective1" name="adjective1" type="text"> <br>
  
   <label for="noun2">Noun</label>
   <input id="noun2" name="noun2" type="text"> <br>
  
   <label for="name1">Name</label>
   <input id="name1" name="name1" type="text"> <br>
  
   <label for="word1">Made up word</label>
   <input id="word1" name="word1" type="text"> <br>
  
  
  

  
  
  
  <input type="submit">
  
  
 